*,*::before, *::after{
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



body {
  padding: 0;
  margin: 0;
  background: linear-gradient(90deg, #ec4314dc, #23c6f3e5);
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: center;
  
}

.grid-container{
  border: 1.5px solid black;
  display: grid;
  min-width: 280px;
  min-height: 300px;
  grid-template-columns: repeat(4,minmax(30px,1fr));
  grid-template-rows: 100px;
  grid-auto-rows: minmax(70px,1fr);
  margin-top: 200px;
  background: white;
  box-shadow: 1px 2px rgb(0, 0, 0.2);
  border-radius: 10px;
  padding: 10px 5px;
}

.output{
  grid-column: 1 / -1;
  grid-row: 1/2;
  background-color: #ec4314dc;
  margin-bottom: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding: 15px;
  min-width: 280px;
  word-wrap: break-word;
  word-break: break-all;
}

.span2{
  height: 60px;
  width: 120px;
  grid-column: 1/3;
  border-radius: 30px;
  background-color: rgb(219, 219, 219);
  text-align: center;
  font-size: medium;
  font-weight: 600;
  font-family: sans-serif;
  cursor: pointer;
  transition: 600ms ease-in-out background;
  border: none;
}

.grid_item{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: rgb(219, 219, 219);
  text-align: center;
  font-size: medium;
  font-weight: 600;
  font-family: sans-serif;
  cursor: pointer;
  transition: 550ms ease-in-out background;
  border: none;
}
.cal{
  background-color: #ec4314dc;
  color: white;
}
.ind{
  background-color: rgb(150, 146, 146);
  color: white;
}

.previous_operand{
  color: beige;
  font-weight: 300;
  height: 40px;
  font-size: 1rem;
  max-width: 150px;  
}
.current_operand{
  color: white;
  height: 40px;
  font-size: 20px;
  max-width: 200px;
}

.grid_item:hover{
  background-color: rgba(140, 140, 179, 0.666);
}